@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E7E4F1;
}

.font-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal
}
.font-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}



.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
